:root {
  --background-color: #ffffff;
  --text-color: #010101;
  --root-font-size: 62.5%;
  --body-font-size: 1.6rem;
  --root-line-height: 1.5;
  --font-family: "Poppins", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: var(--root-font-size);
  line-height: var(--root-line-height);
  color: var(--text-color);
  background-color: var(--background-color);
}
